# Environment
NODE_ENV=release
PORT=3000

# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/si_release_db

# PostgreSQL (Amazon RDS)
DB_USER=postgres
DB_PASSWORD=your-password-here
DB_HOST=your-rds-endpoint.rds.amazonaws.com
DB_NAME=si_release_db

# App Secrets
JWT_SECRET=your-jwt-secret
SESSION_SECRET=your-session-secret