# Release Environment

# App Port
PORT=3000

# Node Environment
NODE_ENV=release

# MongoDB Configuration
MONGO_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/si_release_db

# PostgreSQL Configuration
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=your-release-db-host.rds.amazonaws.com
DB_NAME=si_release_db

# App Secrets
JWT_SECRET=your_release_jwt_secret
SESSION_SECRET=your_release_session_secret
