# Development Environment

# App Port
PORT=3000

# Node Environment
NODE_ENV=dev

# MongoDB Configuration
MONGO_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/si_dev_db

# PostgreSQL Configuration
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=your-dev-db-host.rds.amazonaws.com
DB_NAME=si_dev_db

# App Secrets
JWT_SECRET=your_dev_jwt_secret
SESSION_SECRET=your_dev_session_secret